
/build/
/.vscode/
/out/

/Debug/
/Release/
/Resources/
/libcef_dll/
/bazel/
/tests/
/include/
/cmake/

.bazelrc
.bazelversion
BUILD.bazel
MODULE.bazel
WORKSPACE
cef_paths.gypi
cef_paths2.gypi
Doxyfile
CREDITS.html
LICENSE.txt
README.md
README.txt

**/node_modules/
**/dist/
*.log
